*{
    padding: 0;
    margin: 0;
}

h1{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: bisque;
}
.list{
    text-align: center;
    padding: 5px;
}

input{
    width: 80%;
    height: 30px;
    margin: 10px;
    background: burlywood;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

#caja{
    background-color: red;
    margin: 2rem;
    padding: 2rem;
    color: white;
    font-size: 40px;
    text-align: center;

}

label{
    color: white;
    font-size: 1.8rem;
}

video{
    width: 20%;
    height: 20%;
}